$primary-background-color: #f6f5f0;
$secondary-background-color: #f7f1ec;
$footer-color: #ffffff;
$hero-header-color: #e8f0e3;
$home-footer-color: #ebe3d3;
$title-color: #333333;
$text-color: #666666;
$text-link-color: #000000;
$button-color: #565656;
$button-text-color: #ffffff;
$font-family: "Inter", sans-serif;
