.panier {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $secondary-background-color;
    padding-bottom: 5%;

    .panier-product {
        display: flex;
        flex-direction: row;
        background-color: $primary-background-color;
        padding: 2%;

        img {
            width: 30%;
            height: auto;
        }

        .panier-product-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 15%;

            h2,
            p {
                font-size: 14px;
            }

            #panier-product-text-price {
                font-size: 18px;
                color: $title-color;
            }
        }
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25%;
        height: 70px;
        color: $button-text-color;
        background-color: $button-background-color;
        border: none;
        margin-top: 35px;
    }

    #panier-vider {
        display: block;
        width: auto;
        height: auto;
        background-color: none;
        color: $button-text-color;
    }

    .panier-price {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
        margin-top: 15px;
        width: 48%;
        background-color: $background-color-panier-price;

        p {
            margin: 0px;
        }

        #totalPrice {
            margin-top: 20px;
            margin-right: 25px;
            color: $title-color;
            font-size: 14px;
            font-weight: bold;

            span {
                font-size: 20px;
            }
        }

        #frais-livraison {
            font-size: 12px;
            margin-bottom: 20px;
            margin-top: 10px;
            margin-right: 45px;
        }
    }
}
