table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
        font-size: 14px;
        width: 33%;
    }

    th {
        text-align: left;
        color: $text-color;
        font-weight: lighter;
    }

    td {
        color: $title-color;
        font-weight: bold;
        padding-top: 35px;
        padding-bottom: 40px;
    }

    tr {
        height: 25px;
        border-bottom: 1px solid $table-border;
    }

    thead {
        tr {
            border: none;
        }
    }
}
