{% extends 'base.html.twig' %}

{% block title %}Error{% endblock %}

{% block body %}

<section class="error">
    <h1>Erreur</h1>

    <p>Une erreur a eu lieu</p>

    <a href="{{ path('app_main') }}">Retour à la page d'accueil</a>.
</section>


{% endblock %}