{% extends 'base.html.twig' %}

{% block title %}Error 404{% endblock %}

{% block body %}

<section class="error">
    <h1>Cette page n'existe pas</h1>

    <a href="{{ path('app_main') }}">Retour à la page d'accueil</a>.
</section>


{% endblock %}